@font-face{
    font-family: 'titleFonts';
    src: url('./../fonts/fontsPersian/vazirFonts/Vazir.eot');
    src: url('./../fonts/fontsPersian/vazirFonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/fontsPersian/vazirFonts/Vazir.woff') format('woff'),
         url('./../fonts/fontsPersian/vazirFonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

.font-title{
    font-family: "titleFonts" !important;
}

.font-title .MuiCardHeader-content .MuiCardHeader-title{
    font-family: inherit;
}

.MuiInputLabel-formControl{
    font-family: inherit !important;
}
#headrTab header{
    background-color: #388E3C !important;
}
.MuiPaper-root.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-positionFixed.makeStyles-appBar-12.MuiAppBar-colorPrimary.mui-fixed{
    background-color: #388E3C !important
}

.MuiButton-contained.Mui-disabled{
    background-color: #388E3C !important
}

button.MuiButtonBase-root{
    background-color: #388E3C !important
}

